/** CSS GENERALES A Los CATALOGOS **/

#div_area {
	width: 1307px;
	height: 1229px; /*AQUI SE MODIFICA LO ALTO DE LA HOJA*/ 
	margin-left: auto;
	margin-right: auto;
	position: relative;
	top: 77px;
	background: transparent;
}

#div_hoja {
	width: 1278px;
	height: 1200px; /* div_area - 29 */ 
	background: #fff;
	float: left;
}

#div_cabecera {
	width: 1278px;
	height: 300px;
	background: transparent;
}

#div_logo, #div_encabezado {
	position: relative;
	top: 25px;
	left: 10px;
	float: left;
}

#div_cuerpo {
	width: 1278px;
	background: transparent;
}

#div_menu {
	width: 304px;
	height: 402px;
	background: transparent;
	float: left;
	top: 377px;
}

#div_contenido {
	width: 961px;
	float: right;
	position: relative;
	right: 13px;
	background: transparent;
}

#div_pie {
	width: 1278px;
	height: 50px;
	background: transparent;
}

#div_derecha3d {
	width: 29px;
	float: left;
}

#div_fondo_esq_sup {
	width: 29px;
	height: 31px;
	background-image: url('../image/s_esq_sup.png');
	background-repeat: no-repeat;
}

#div_fondo_der {
	width: 29px;
	height: 1171px; /* div_hoja - 29 */
	background-image: url('../image/s_der.png');
	background-repeat: repeat-y;
}

#div_abajo3d {
	width: 1307px;
	height: 29px;
	float: left;
}

#div_fondo_esq_izq {
	width: 32px;
	height: 29px;
	background-image: url('../image/s_esq_izq.png');
	float: left;
}

#div_fondo_abajo {
	width: 1246px;
	height: 29px;
	background-image: url('../image/s_inf.png');
	float: left;
}

#div_fondo_esq_der {
	width: 29px;
	height: 29px;
	float: left;
	background-image: url('../image/s_esq_der.png');
}

#div_espacio_inf {
	width: 1307px;
	height: 77px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	top: 77px;
}

/**/
/**/
/**/

.columna_izquierda {
	width: 421px;
	height: 100%;
	background: transparent;
	float: left;
}

.columna_derecha {
	width: 421px;
	height: 100%;
	background: transparent;
	float: right;
}

.mitad_columna_izquierda {
	width:205px;
	height:100%;
	background: #e2e2e2;
	color: #898989;
	float: left;
}

.mitad_columna_derecha {
	width:205px;
	height:100%;
	background: #e2e2e2;
	color: #898989;
	float: right;
}

.columna_izquierda_tres_cuartos {
	width: 649px;
	height: 100%;
	background: #e2e2e2;
	color: #898989;
	float: left;
}