#div_area {
    width: 528px;
    height: 350px; /*AQUI SE MODIFICA LO ALTO DE LA HOJA*/ /* tamaño total */
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 77px;
    background: transparent;
}

#div_ancho {
    width: 528px;
    height: 321px; /*AQUI SE MODIFICA LO ALTO DE LA HOJA*/ /* div_area - 29 (div_abajo3d) */
}

#div_hoja {
    width: 499px; 
    height: 321px; /*AQUI SE MODIFICA LO ALTO DE LA HOJA*/ /* igual div_ancho */
    background: #FFF;
    float: left;
}

#div_cuerpo {
    width: 499px;
    height: 321px; /*AQUI SE MODIFICA LO ALTO DE LA HOJA*/ /* igual div_ancho */
    background: transparent; /*orange*/
}

#div_contenido {
    width: 455px;
    height: 321px; /*AQUI SE MODIFICA LO ALTO DE LA HOJA*/ /* igual div_ancho */
    margin-left: auto;
    margin-right: auto;
    position: relative;
    background: transparent; /*orange*/
}

#div_derecha3d {
    width: 29px;
    height: 321px; /*AQUI SE MODIFICA LO ALTO DE LA HOJA*/ /* igual div_ancho */
    float: left;
    /*background: purple;*/
}

#div_fondo_esq_sup {
    width: 29px;
    height: 31px;
    background-image: url('../image/s_esq_sup.png');
    background-repeat: no-repeat;
}

#div_fondo_der {
    width: 29px;
    height: 290px; /*AQUI SE MODIFICA LO ALTO DE LA HOJA*/ /* div_hoja - 31 (div_fondo_esq_sup) */
    background-image: url('../image/s_der.png');
    background-repeat: repeat-y;
}

#div_abajo3d {
    width: 528px;
    height: 29px;
    float: left;
}

#div_fondo_esq_izq {
    width: 32px;
    height: 29px;
    background-image: url('../image/s_esq_izq.png');
    float: left;
}

#div_fondo_abajo {
    width: 467px;
    height: 29px;
    background-image: url('../image/s_inf.png');
    float: left;
}

#div_fondo_esq_der {
    width: 29px;
    height: 29px;
    float: left;
    background-image: url('../image/s_esq_der.png');
}

#div_espacio_inf {
    height: 77px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 77px;
}

/*****/

#div_formulario {
    /*width:865px;*/
    margin-left:auto;
    margin-right:auto;
    background:transparent;
    display:block;
}

/*****/

textarea#condiciones_produccion {
	border-style: none;
	background-color: transparent;
	resize: none;
	font-size: 14px;
	width: 100%;
	height: 150px;
	background: #e2e2e2;
	color: #898989;
}
		