/** CSS PARTICULARES A LA PAGINA **/

#div_area {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 77px;
    background: transparent;
}

#div_ancho {
    width: 1307px;
}

#div_hoja {
    width: 1278px;
    height: 2020px; /* aqui se modifica alto */
    background: #FFF;
    float: left;
}

#div_cabecera {
    width: 1278px;
    height: 300px;
    background: transparent;
}

#div_logo, #div_encabezado {
    position: relative;
    top: 25px;
    left: 10px;
    float: left;
}

#div_cuerpo {
    width: 1278px;
    background: transparent;
}

#div_menu {
    width: 304px;
    height: 402px;
    background: transparent;
    float: left;
    top: 377px;
}

#div_contenido {
    width: 961px;
    float: right;
    position: relative;
    right: 13px;
    background: transparent;
}

#div_pie {
    width: 1278px;
    height: 50px;
    background: transparent;
}

#div_derecha3d {
    width: 29px;
    float: left;
}

#div_fondo_esq_sup {
    width: 29px;
    height: 31px;
    background-image: url('../image/s_esq_sup.png');
    background-repeat: no-repeat;
}

#div_fondo_der {
    width: 29px;
    height: 1989px; /*AQUI SE MODIFICA LO ALTO DE LA HOJA*/ /* div_hoja - 31 (div_fondo_esq_sup) */
    background-image: url('../image/s_der.png');
    background-repeat: repeat-y;
}

#div_abajo3d {
    width: 1307px;
    height: 29px;
    float: left;
}

#div_fondo_esq_izq {
    width: 32px;
    height: 29px;
    background-image: url('../image/s_esq_izq.png');
    float: left;
}

#div_fondo_abajo {
    width: 1246px;
    height: 29px;
    background-image: url('../image/s_inf.png');
    float: left;
}

#div_fondo_esq_der {
    width: 29px;
    height: 29px;
    float: left;
    background-image: url('../image/s_esq_der.png');
}

#div_espacio_inf {
    width: 1307px;
    height: 77px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 77px;
}

/**********/

#div_cruce_informacion {
	width: 865px;
	margin-left: auto;
	margin-right: auto;
	background: transparent;
	display: block;
}

#div_contenedor_tabla_lista_registros, 
#div_contenedor_tabla_fecha_prensista_maquina {
    width: 100%;
    height: 350px;
}

#div_tabla_lista_registros,
#div_tabla_fecha_prensista_maquina {
    width: 865px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    background: transparent; /*green*/
    display: block;
    overflow-y: scroll;
    overflow-x: scroll;
}

table#tabla_lista_registros,
table#tabla_fecha_prensista_maquina {
    width: 100%;
    height: 100%;
}

table#tabla_lista_registros tr:hover {
    cursor: pointer;
    color: #000;
    background-color: #99CCFF;
}

table#tabla_lista_registros tr.agregado {
	cursor: auto;
	color: #898989;
	background-color: #d3d3d3;
}

