/* configuracion visual de una hoja */

#div_area {
    width: 1010px;
    height: 1435px; /*AQUI SE MODIFICA LO ALTO DE LA HOJA*/ /* tamaño total */
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 77px;
    background: transparent;
}

#div_ancho {
    width: 1010px;
}

#div_hoja {
    width: 981px;
    height: 1406px; /*AQUI SE MODIFICA LO ALTO DE LA HOJA: div_area - 29*/ 
    background: #FFF;
    float: left;
}

#div_cuerpo {
    width: 981px;
    background: transparent; /*orange*/
}

#div_contenido {
    width: 961px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    background: transparent; /*orange*/
}

#div_pie {
    width: 981px;
    height: 50px;
    background: transparent; /*green*/
}

#div_derecha3d {
    width: 29px;
    float: left;
    /*background: purple;*/
}

#div_fondo_esq_sup {
    width: 29px;
    height: 31px;
    background-image: url('../image/s_esq_sup.png');
    background-repeat: no-repeat;
}

#div_fondo_der {
    width: 29px;
    height: 1375px; /*AQUI SE MODIFICA LO ALTO DE LA HOJA*/ /* div_hoja - 31 (div_fondo_esq_sup) */
    background-image: url('../image/s_der.png');
    background-repeat: repeat-y;
}

#div_abajo3d {
    width: 1010px;
    height: 29px;
    float: left;
}

#div_fondo_esq_izq {
    width: 32px;
    height: 29px;
    background-image: url('../image/s_esq_izq.png');
    float: left;
}

#div_fondo_abajo {
    width: 949px;
    height: 29px;
    background-image: url('../image/s_inf.png');
    float: left;
}

#div_fondo_esq_der {
    width: 29px;
    height: 29px;
    float: left;
    background-image: url('../image/s_esq_der.png');
}

#div_espacio_inf {
    width: 1010px;
    height: 77px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 77px;
}

/*****/

#div_formulario {
    width:865px;
    margin-left:auto;
    margin-right:auto;
    background:transparent;
    display:block;
}


/*****/

#div_cliente, 
#div_orden_produccion, 
#div_partida,
#div_tipo_trabajo_detalle,
#div_paginador,
#div_calificacion_orden_produccion,
#div_resumen_partida,
#div_visualizador_resumen {
    width: 865px;
    margin-left: auto;
    margin-right: auto;
    background: transparent;
    display: block;
}

