#div_area {
    width:528px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 77px;
}

#div_ancho {
    width: 528px;
}

#div_hoja {
    width: 499px;
    height: 375px; /* AQUI SE MODIFICA TAMAÑO*/
    float: left;
    background-color: #fff;
}

#div_derecha3d {
    width: 29px;
    float: left;
}

#div_fondo_esq_sup {
    width: 29px;
    height: 31px;
    background-image: url('../image/s_esq_sup.png');
    background-repeat: no-repeat;
}

#div_fondo_der{
    width: 29px;
    height: 344px;	/* div_hoja - 31 */
    background-image: url('../image/s_der.png');
    background-repeat: repeat-y;
}

#div_abajo3d {
    width: 528px;
    height: 29px;
    float: left;
}

#div_fondo_esq_izq {
    width: 32px;
    height: 29px;
    float: left;
    background-image: url('../image/s_esq_izq.png');
}

#div_fondo_abajo {
    width: 467px;
    height: 29px;
    float: left;
    background-image: url('../image/s_inf.png');
}

#div_fondo_esq_der {
    width: 29px;
    height: 29px;
    float: left;
    background-image: url('../image/s_esq_der.png');
}

/***/

#div_contenido {
    width: 455px;
    position: relative;
    background-color: transparent;
    margin-left: auto;
    margin-right: auto;
}

textarea#condiciones_produccion {
	border-style: none;
	background-color: transparent;
	resize: none;
	font-size: 14px;
	width: 100%;
	height: 150px;
	background: #e2e2e2;
	color: #898989;
}
