<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-type" content="text/html; charset=utf-8">
		<title>Menu</title>
		<style type="text/css" media="screen">
			
		</style>
		<link rel="stylesheet" href="../../../../resources/css/master.css" type="text/css">
		<link rel="stylesheet" href="../../../../resources/css/font.css" type="text/css">
		<link rel="stylesheet" href="../../../../resources/css/menu.css" type="text/css">
		<link rel="stylesheet" href="../../../../resources/css/pantalla_menu.css" type="text/css">
		<script type="text/javascript" src="../../../../resources/js/jquery-1_9_1.js"></script>
		<script type="text/javascript" src="../../../../resources/js/pantalla_menu.js"></script>
		<script type="text/javascript">			
			
			
		</script>
	</head>
	<body>
		<div id="div_area">
			<div id="div_ancho">
				<div id="div_hoja">
					<div id="div_cabecera">
						<div id="div_logo">
							<img alt="." src="../../../../resources/image/logo.png">
						</div>
						<div id="div_encabezado">
							<img alt="." src="../../../../resources/image/encabezado_catalogo.png">
						</div>
					</div>
					<div id="div_cuerpo">
						
						<div id="div_menu">
							<div id="div_contenido_menu">
								<div id="div_cerrar_sesion">
									<a href="#">
										<img alt="" src="../../../../resources/image/boton_cerrar.jpg">
									</a>
								</div>
							</div>
						</div>

						<div id="div_contenido">
							<form action="pantalla_menu" method="get" accept-charset="ISO-8859-1">
								<div id="div_pantalla_menu">
									<div class="titulo">
										<span style="font-size: 32px;">MENU</span>
									</div>
									<div id="div_componente_menu">
										
									</div>
									<div class="titulo">
										<span style="font-size: 32px;">DETALLE PERFIL</span>
									</div>
									<div class="linea">
										<div class="casilla">
											<div class="columna_izquierda">
												<div class="mitad_columna_izquierda">
													<table>
														<tr>
															<td width="40%">Identificador:</td>
															<td>
																<input type="text" class="input" name="id_perfil" value="1" tabindex="1" readonly>
															</td>
														</tr>
													</table>
												</div>
												<div class="mitad_columna_derecha">
													<table>
														<tr>
															<td width="1%">Nombre:</td>
															<td>
																<input type="text" class="input" name="nombre" value="Director" tabindex="3">
															</td>
														</tr>
													</table>
												</div>
											</div>
											<div class="columna_derecha">
												<div class="columna_completa">
													<table>
														<tr>
															<td width="1%">Descripci&oacute;n:</td>
															<td>
																<input type="text" class="input" name="descripcion" value="Acceso a todo el sistema" tabindex="3">
															</td>
														</tr>
													</table>
												</div>
											</div>
										</div>
									</div>
									<div class="linea">
										
									</div>
									<div class="linea">
										<div class="casilla" style="text-align:right;">
											<img alt="" style="cursor:pointer;" src="../../../../resources/image/boton_modificar.jpg">
											<img alt="" style="cursor:pointer;" src="../../../../resources/image/boton_agregar.jpg">
										</div>
									</div>
								</div>
							</form>
						</div>
					</div>
					<div id="div_pie"></div>
				</div>
				<div id="div_derecha3d">
					
					<div id="div_fondo_esq_sup"></div>
					<div id="div_fondo_der"></div>
					
				</div>
			</div>
			<div id="div_abajo3d">
				<div id="div_fondo_esq_izq"></div>
				<div id="div_fondo_abajo"></div>
				<div id="div_fondo_esq_der"></div>
			</div>
		</div>
		<div id="div_espacio_inf"></div>
		<div id="notificacion_tipo_growl">
			<span id="cerrar_notificacion_growl" style="cursor:pointer;">CLOSE <br> Aviso.</span>
		</div>
	</body>
</html>